---
layout: handbook-page-toc
title: Fulfillment License Backend Team
description: "The License Backend Team of the Fulfillment Sub-department at GitLab"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Vision

For more details about the product vision for Fulfillment, see our [Fulfillment](/direction/fulfillment/) page.

The License group manages the [License category](/handbook/product/product-categories/#license-group).

## Team members

<%= direct_team(manager_role: 'Backend Engineering Manager, Fulfillment:License', role_regexp: /[,&] Fulfillment/) %>

## Stable counterparts

<%= stable_counterparts(role_regexp: /[,&] Fulfillment/, direct_manager_role: 'Backend Engineering Manager, Fulfillment:License') %>

#### Historical capacity

<%= partial("handbook/engineering/development/fulfillment/be-license/historical_capacity") %>
