---
layout: handbook-page-toc
title: Skip Level Meetings
description: This page describes how we implement Skip Level Meetings.
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## How do we lead Skip Level meetings efficiently?

The Sr. Manager meets with team members across the Create Stage in an effort to get a better sense of the work environment challenges facing the Engineers.  Engineers have an opportunity to share their perspectives on everything GitLab.

This feedback will be a tool that we can use to improve communication and your work environment.  For that reason, the feedback will be shared with your Manager.  (If you have a topic that is sensitive in nature that you would like to discuss with me confidentially, we can reschedule a meeting specifically for that)

## Audience
This is the template used by the Create Stage Senior Manager. However this template is available if anyone viewing this template finds that it would be useful for their Skip Level Meetings.

## Async Meeting Prep
**Senior Manager Prep**

Typically the prep work for these meetings are pretty simple as all they require is scheduling and copying a default template.

**Engineer Prep**

Prior to the meeting, the Engineers are asked to:

- Complete the default template below filling in only what is applicable to them 

## 1st Skip Level Template
The template below is used for the first Skip Level Meeting only.  

**About You**
- What is keeping you from being more successful than you already are?
- What are your goals for the next 6 to 12 months?

**About the GitLab  Leadership (Sr. Manager and above)**
- What do you need from the leadership team
- How would you change things if you were in my shoes?

**About your Manager**
- What areas of your career would you like your manager to pay more attention to?
- What areas of your team's processes, procedures would you like your manager to pay more attention to?

**About your team**
- What would you do differently if you were the manager of your team?
- What is the biggest challenge facing your team?

**About the Company**
- If there was one thing that you could “fix” in the company, what would it be?
- What is the biggest challenge facing your role in the organization?
- Do you know how your team’s goals support the company’s?

**Additional Questions**
- Is there anything else that we should have discussed?

## Standard Skip Level Template
The template below is used after the first Skip Level Meeting has taken place.  

**Your Team**
- What’s one thing your team should stop doing? Why that?
- How is your / your team’s workload? Do you feel it’s too little, too much, or the right amount?
- What do you think your team does really well? What should we be sure you’re able to continue doing?
- What’s one thing we could improve based on how <last major project they were on> went?
- Can you describe the last major project you worked on? What’s one thing we could improve based on how <last major project they were on> went?

**Giving Praise**
    <li>Has anyone gone well above and beyond lately? What did they do?</li>
    <li>Who on your team makes those around them better? How do they do it?</li>
    <li>What is a recent situation you feel like your manager did a great job?</li>

**Your Manager**
  - Do you feel you’re getting enough feedback from your manager? Why/Why not?

- **For the Senior Manager**
      <li>How do you feel about <<any recent GitLab changes would go here>>?</li>
      <li>Do you find these meetings useful?  If yes, why?  If not, what can I do to improve?</li>

## Frequency
The Senior Manager conducts approximately four Skip Level meetings a month.  The Senior Manager will likely meet with everyone in their reporting structure a minimum of once a year. In many cases the Senior Manager will meet with team members twice a year.

## What happens after the meeting
The Skip Level meeting is shared with your manager and your manager will then directly begin to address the concerns that were raised during the meeting.
