.container.u-padding-top-md.u-margin-bottom-xl{:style => "background: url(/images/home/home-particles-7.svg) center 8% no-repeat;"}
  %h2.u-margin-bottom-md.text-center{:style => "font-weight: 400;"}
    Learn more with our webcasts

  .grid-layout.grid-layout3

    = link_to "https://page.gitlab.com/deep-monitoring-ci.html", class: "tile-resource grid-item" do
      .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast_2x.png');" }
      .tile-info
        %h4.tile-title
          Identify, analyze, action! Deep monitoring with CI
        %p.tile-description
          Learn best practices for analyzing your CI pipeline so you can identify bottlenecks, rapidly fix errors, and improve code quality.
        %p.tile-link
          Watch now
          %i.fas.fa-arrow-right

      = link_to "/webcast/gitlab-hashicorp-gitops/", class: "tile-resource grid-item" do
        .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast_2x.png');" }
        .tile-info
          %h4.tile-title
            A holistic guide to GitOps and the Cloud Operating Model
          %p.tile-description
            Learn about common use cases spanning from Cloud Automation, Security, to Monitoring within the context of the key features and functionalities across GitLab, Vault, Terraform, and Consul that enable them.
          %p.tile-link
            Watch now
            %i.fas.fa-arrow-right

      = link_to "/compare/jenkins-alternative/", class: "tile-resource grid-item" do
        .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast_2x.png');" }
        .tile-info
          %h4.tile-title
            GitLab CI/CD advantages over Jenkins demo
          %p.tile-description
            See the advantages of GitLab built-in CI/CD over Jenkins CI plugin solution.
          %p.tile-link
            Watch now
            %i.fas.fa-arrow-right
